.chart {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  border: 1px solid gray;
}

.legend {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: 1px solid gray;
  background: #f2f2f2;
  padding: 5px 20px;

  .key {
    position: relative;
    margin: 5px 0 5px 20px;

    &::before {
      content: '';
      position: absolute;
      left: -30px;
      top: 0;
      width: 20px;
      height: 20px;
    }

    &.age {
      &::before {
        background-color: blue;
      }
    }

    &.weight {
      &::before {
        background-color: green;
      }
    }

    &.friends {
      &::before {
        background-color: pink;
      }
    }
  }
}
