<div #chart class="chart">

</div>
<!--
  The legend should be rendered by D3 so the colors
  could be connected, but since this is just an extra
  piece that I thoght would be nice, I took the easy
  way out to save time :)
-->
<div class="legend">
  <h4>Legend</h4>
  <div class="key age">Age</div>
  <div class="key weight">Weight</div>
  <div class="key friends">Friends</div>
</div>
