<div class="form">
  <h2>Enter a person</h2>
  <!--
    TeuxDeux

    Angular Material's ErrorStateMatcher seems to not update
    when the form is reset when using (ngSubmit). The work
    around recommended in the github issue is to use (click)
    on the button instead. This holds the limitation of not
    being able to use the enter key to submit the form, so
    added the (keyup.enter) on the form to handle this case.

    Github issue:
    https://github.com/angular/components/issues/13240

    05/04/2020 (aka Star Wars Day)
    -- Ryan Thames (gh: rthames62)
  -->
  <form (keyup.enter)="addFriend()" [formGroup]="form">
    <mat-form-field class="form--field">
      <mat-label>Name</mat-label>
      <input formControlName="name"
        matInput>
    </mat-form-field>
    <mat-form-field class="form--field">
      <mat-label>Friends</mat-label>
      <input formControlName="friends"
        placeholder="# of friends"
        type="number"
        min="1"
        matInput>
    </mat-form-field>
    <mat-form-field class="form--field">
      <mat-label>Age</mat-label>
      <input formControlName="age"
        type="number"
        min="1"
        matInput>
    </mat-form-field>
    <mat-form-field class="form--field">
      <mat-label>Weight</mat-label>
      <input formControlName="weight"
        type="number"
        min="1"
        matInput>
    </mat-form-field>
    <button (click)="addFriend()"
      [disabled]="!form.valid"
      type="button"
      mat-raised-button
    >
      Submit
    </button>
  </form>
</div>
