<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <app-form></app-form>
  </mat-drawer>
  <mat-drawer-content>
    <app-chart></app-chart>
  </mat-drawer-content>
</mat-drawer-container>
